<div class="container">
    <div *ngIf="deleteMessage" class="alert alert-danger" role="alert">{{deleteMessage}}</div>
</div>
<h1>Driver list</h1>
<div class="container">
    <table class="table">
        <thead>
            <td>ID</td>
            <td>FIRSTNAME</td>
            <td>LASTNAME</td>
            <td>PHONE</td>
            <td>CONTRACTTYPE</td>
            <td>HIRED DATE</td>
            <td>ACT-DELETE</td>
            <td>ACT-UPDATE</td>
        </thead>
        <tbody *ngFor="let driver of drivers">
            <td>{{driver.id}}</td>
            <td>{{driver.firstname}}</td>
            <td>{{driver.lastname}}</td>
            <td>{{driver.phone}}</td>
            <td>{{driver.contractType}}</td>
            <td>{{driver.hiredDate | date:'yyyy-MM-dd'}}</td>
            <td><button (click)="deleteDriver(driver.id)" class="btn btn-danger">delete</button></td>
            <td><button class="btn btn-success" [routerLink]="['/driver-detail', driver.id]">edit</button></td>
        </tbody>
    </table>
</div>
<div class="container">
    <button class="btn btn-success" routerLink="/create">New</button>
</div>